:root {
  --radio-bg: #71abfe;
  --radio-hover: #FFF;
  --radio-checked-bg: #000;
}
html {
  font-size: 0.625rem;
}

body { 
  font-size: 2rem;
  line-height: 3.2rem;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 50vw;
  width: 100%;
  height: 55vh;
  margin: auto;
  background-color: grey;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 40vw;
  width: 100%;
  height: 40vh;
  margin: 1rem auto;
  background-color: #FFF;
  border-radius: 1rem;
}
.slide img {
  max-width: 40vw;
  width: 100%;
  height: 40vh;
}
.slider__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider__text {
  color: #FFF;
}
.slider__radio {
  display: flex;
}
input[type="radio"] {
  display: none;
}
.slide__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: .5rem;
}
label {
  display: inline-block;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2.5rem;
  line-height: 3.4rem;
  user-select: none;
  background: var(--radio-bg);
  border: .2rem solid var(--radio-bg);
  border-radius: 1.5rem;
  transition: all .2s ease-in;
  color: transparent;
}
input[type="radio"]:checked + label {
  background: var(--radio-checked-bg);
}
label:hover  {
  border-color: var(--radio-hover);
}